In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\admin\anaconda3\lib\site-packages (0.2.40)
Requirement already satisfied: pandas>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: requests>=2.31 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2.32.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2.5.2)
Requirement already satisfied: pytz>=2022.5 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (3.17.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: html5lib>=1.1 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: six>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\admin\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.5.7)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import yfinance as yf
getinfo = yf.Ticker("AAPL")
for key, value in getinfo.info.items():
    print(key, ":", value)

address1 : One Apple Park Way
city : Cupertino
state : CA
zip : 95014
country : United States
phone : 408 996 1010
website : https://www.apple.com
industry : Consumer Electronics
industryKey : consumer-electronics
industryDisp : Consumer Electronics
sector : Technology
sectorKey : technology
sectorDisp : Technology
longBusinessSummary : Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.
fullTimeEmployees : 150000
companyOfficers : [{'maxAge': 1, 'name': 'Mr. Timothy D. Cook', 'age': 62, 'title': 'CEO & Director', 'yearBorn': 1961, 'fiscalYear': 2023, 'totalPay': 16239562, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Luca  Maestri', 'age': 60, 'title': 'CFO & Senior VP', 'yearBorn': 1963, 'fiscalYear': 2023, 'totalPay': 4612242, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Jeffrey E. Williams', 'age': 59, 'title': 'Chief Operating Officer', 'yearBorn': 1964, 'fiscalYear': 2023, 'totalPay': 4637585, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Katherine L. Adams', 'age': 59, 'title': 'Senior VP, General Counsel & Secretary', 'yearBorn': 1964, 'fiscalYear': 2023, 'totalPay': 4618064, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': "Ms. Deirdre  O'Brien", 'age': 56, 'title': 'Senior Vice President of Retail', 'yearBorn': 1967, 'fiscalYear': 2023, 'totalPay': 4613369, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Chris  Kondo', 'title': 'Senior Director of Corporate Accounting', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. James  Wilson', 'title': 'Chief Technology Officer', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Suhasini  Chandramouli', 'title': 'Director of Investor Relations', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Greg  Joswiak', 'title': 'Senior Vice President of Worldwide Marketing', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Adrian  Perica', 'age': 49, 'title': 'Head of Corporate Development', 'yearBorn': 1974, 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}]
auditRisk : 6
boardRisk : 1
compensationRisk : 2
shareHolderRightsRisk : 1
overallRisk : 1
governanceEpochDate : 1717200000
compensationAsOfEpochDate : 1703980800
irWebsite : http://investor.apple.com/
maxAge : 86400
priceHint : 2
previousClose : 216.67
open : 217.61
dayLow : 213.0
dayHigh : 218.63
regularMarketPreviousClose : 216.67
regularMarketOpen : 217.61
regularMarketDayLow : 213.0
regularMarketDayHigh : 218.63
dividendRate : 1.0
dividendYield : 0.0047
exDividendDate : 1715299200
payoutRatio : 0.14930001
fiveYearAvgDividendYield : 0.71
beta : 1.25
trailingPE : 33.326595
forwardPE : 29.55724
volume : 79685043
regularMarketVolume : 79685043
averageVolume : 65173339
averageVolume10days : 95778010
averageDailyVolume10Day : 95778010
bid : 202.41
ask : 224.35
bidSize : 100
askSize : 100
marketCap : 3285944107008
fiftyTwoWeekLow : 164.08
fiftyTwoWeekHigh : 220.2
priceToSalesTrailing12Months : 8.610445
fiftyDayAverage : 185.2174
twoHundredDayAverage : 182.70145
trailingAnnualDividendRate : 0.96
trailingAnnualDividendYield : 0.004430701
currency : USD
enterpriseValue : 3323380367360
profitMargins : 0.26306
floatShares : 15308474083
sharesOutstanding : 15334099968
sharesShort : 99287450
sharesShortPriorMonth : 101912593
sharesShortPreviousMonthDate : 1713139200
dateShortInterest : 1715731200
sharesPercentSharesOut : 0.0064999997
heldPercentInsiders : 0.052199997
heldPercentInstitutions : 0.57612
shortRatio : 1.53
shortPercentOfFloat : 0.0064999997
impliedSharesOutstanding : 15450999808
bookValue : 4.837
priceToBook : 44.302254
lastFiscalYearEnd : 1696032000
nextFiscalYearEnd : 1727654400
mostRecentQuarter : 1711756800
earningsQuarterlyGrowth : -0.022
netIncomeToCommon : 100389003264
trailingEps : 6.43
forwardEps : 7.25
pegRatio : 3.13
lastSplitFactor : 4:1
lastSplitDate : 1598832000
enterpriseToRevenue : 8.709
enterpriseToEbitda : 25.638
52WeekChange : 0.16487277
SandP52WeekChange : 0.25685287
lastDividendValue : 0.24
lastDividendDate : 1707436800
exchange : NMS
quoteType : EQUITY
symbol : AAPL
underlyingSymbol : AAPL
shortName : Apple Inc.
longName : Apple Inc.
firstTradeDateEpochUtc : 345479400
timeZoneFullName : America/New_York
timeZoneShortName : EDT
uuid : 8b10e4ae-9eeb-3684-921a-9ab27e4d87aa
messageBoardId : finmb_24937
gmtOffSetMilliseconds : -14400000
currentPrice : 214.29
targetHighPrice : 275.0
targetLowPrice : 164.0
targetMeanPrice : 207.58
targetMedianPrice : 205.0
recommendationMean : 2.0
recommendationKey : buy
numberOfAnalystOpinions : 37
totalCash : 67150000128
totalCashPerShare : 4.379
ebitda : 129629003776
totalDebt : 104590000128
quickRatio : 0.875
currentRatio : 1.037
totalRevenue : 381623009280
debtToEquity : 140.968
revenuePerShare : 24.537
returnOnAssets : 0.22073999
returnOnEquity : 1.4725
freeCashflow : 84726874112
operatingCashflow : 110563000320
earningsGrowth : 0.007
revenueGrowth : -0.043
grossMargins : 0.45586
ebitdaMargins : 0.33968
operatingMargins : 0.30743
financialCurrency : USD
trailingPegRatio : 2.268

In [7]:
df = getinfo.history(period="5y")

In [10]:
df.shape

(1259, 7)

In [14]:
import yfinance as yf
import pandas as pd

# List of stock tickers
stock_tickers = ["AAPL", "MSFT", "GOOGL", "AMZN"]

# Create an empty DataFrame
combined_df = pd.DataFrame()

# Loop through each stock ticker
for ticker in stock_tickers:
    getinfo = yf.Ticker(ticker)
    df = getinfo.history(period="5y")
    # Add a new column with the stock ticker
    df['Ticker'] = ticker
    # Concatenate the DataFrame with the combined DataFrame
    combined_df = pd.concat([combined_df, df])

# Reset index
combined_df.reset_index(inplace=True)
(combined_df)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
0,2019-06-19 00:00:00-04:00,48.242993,48.291316,47.670398,47.805695,84496800,0.0,0.0,AAPL
1,2019-06-20 00:00:00-04:00,48.409701,48.467686,47.844354,48.189846,86056000,0.0,0.0,AAPL
2,2019-06-21 00:00:00-04:00,48.030392,48.525675,47.873348,48.025558,191202400,0.0,0.0,AAPL
3,2019-06-24 00:00:00-04:00,47.967572,48.358969,47.878180,47.977238,72881600,0.0,0.0,AAPL
4,2019-06-25 00:00:00-04:00,47.941000,48.141530,47.182371,47.250023,84281200,0.0,0.0,AAPL
...,...,...,...,...,...,...,...,...,...
5031,2024-06-12 00:00:00-04:00,188.020004,188.350006,185.429993,186.889999,33984200,0.0,0.0,AMZN
5032,2024-06-13 00:00:00-04:00,186.089996,187.669998,182.669998,183.830002,39721500,0.0,0.0,AMZN
5033,2024-06-14 00:00:00-04:00,183.080002,183.720001,182.229996,183.660004,25456400,0.0,0.0,AMZN
5034,2024-06-17 00:00:00-04:00,182.520004,185.000000,181.220001,184.059998,35601900,0.0,0.0,AMZN
5035,2024-06-18 00:00:00-04:00,183.740005,184.289993,181.429993,182.809998,36659200,0.0,0.0,AMZN

In [18]:
combined_df['Previous Close'] = combined_df.groupby('Ticker')['Close'].shift(1)
(combined_df.head())

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Previous Close
0,2019-06-19 00:00:00-04:00,48.242993,48.291316,47.670398,47.805695,84496800,0.0,0.0,AAPL,NaN
1,2019-06-20 00:00:00-04:00,48.409701,48.467686,47.844354,48.189846,86056000,0.0,0.0,AAPL,47.805695
2,2019-06-21 00:00:00-04:00,48.030392,48.525675,47.873348,48.025558,191202400,0.0,0.0,AAPL,48.189846
3,2019-06-24 00:00:00-04:00,47.967572,48.358969,47.878180,47.977238,72881600,0.0,0.0,AAPL,48.025558
4,2019-06-25 00:00:00-04:00,47.941000,48.141530,47.182371,47.250023,84281200,0.0,0.0,AAPL,47.977238

In [19]:
combined_df['Movement'] = combined_df.apply(lambda row: 'Increase' if row['Close'] > row['Previous Close'] else 'Decrease', axis=1)
(combined_df.head())

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Previous Close,Movement
0,2019-06-19 00:00:00-04:00,48.242993,48.291316,47.670398,47.805695,84496800,0.0,0.0,AAPL,NaN,Decrease
1,2019-06-20 00:00:00-04:00,48.409701,48.467686,47.844354,48.189846,86056000,0.0,0.0,AAPL,47.805695,Increase
2,2019-06-21 00:00:00-04:00,48.030392,48.525675,47.873348,48.025558,191202400,0.0,0.0,AAPL,48.189846,Decrease
3,2019-06-24 00:00:00-04:00,47.967572,48.358969,47.878180,47.977238,72881600,0.0,0.0,AAPL,48.025558,Decrease
4,2019-06-25 00:00:00-04:00,47.941000,48.141530,47.182371,47.250023,84281200,0.0,0.0,AAPL,47.977238,Decrease

In [35]:
combined_df.dropna(subset=['Previous Close'], inplace=True)

In [36]:
combined_df.shape

(5032, 11)

In [37]:
combined_df.to_csv("C:\\Users\\Admin\\Desktop\\stock_analysis\\high_low_data1.csv")